* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f4f4;
}

.navbar-right {
  margin-right: 15px !important;
}

ul {
  list-style-type: none !important;
  all: none !important;
}

.socialLogin {
  width: 300px !important;
}

.buy {
  color: #fff !important;
/*  background-color: #ff3155 !important;*/
  width: 60% !important;
}

.description {
  font-size: 16px !important;
  text-align: left !important;
}

.ItemElement_Container {
  margin-bottom: 15px !important;
}

.paymentModal {
  width: 400px !important;
}

/*a {
  all: none !important;
}*/

.jumbotron {
/*  height: 350px !important;*/
  margin: 0px 0px 1rem 0px !important;
  background-image: url("http://wallpapercave.com/wp/MUUXx5p.jpg") !important;
  background-size: cover;
/*  background-image: url("https://s3-us-west-1.amazonaws.com/affluentsponges/product_image/5673054113921228.jpg") !important;
  background-repeat: repeat !important;*/
  background-color: #09091A !important;
  border-radius: 0 !important;
}

.categoryList {
  padding-left: 20px !important;
  
}

.space {
  height: 53px;
}

.categoryName {
  font-size: 15px !important;
  line-height: 1.25 !important;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dropzone {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  font-size: 1.25rem;
  background-color: white;
  padding: 100px 20px;
  margin-top: 10px;
}

.CategoriesNav2 {
  background-color: white !important;
}

.textCenter {
  text-align: center !important;
}

.metaPrice {
  font-size: 13px !important;
  line-height: 18px !important;
}

.jumbotron h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 50px;
  margin: 0 auto 30px;
  max-width: 1000px;
  font-family: ff-clan-web-pro-wide,"Helvetica Neue",Helvetica,sans-serif;
}

/*.search {
  width: 100% !important;
}*/



